/* Base Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.hero-about {
    background-color: #291C3A;
    min-height: 100vh;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeIn 1.5s ease-in;
}

h2 {
    margin-bottom: 10px;
    font-size: 1em;
    opacity: 0;
    animation: slideUp 1s ease-in forwards;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    animation: fadeIn 1.5s ease-in;
}

.information {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: calc(100% - 20px);
}

.headshot-container {
    width: calc(50% - 20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: fadeIn 1.5s ease-in;
}

.column {
    margin-bottom: 10px;
}

.headshot {
    margin-top: 20px;
    margin-right: 70px;
    width: 100%;
    max-width: 300px;
    border-radius: 20%;
    padding: 10px;
    animation: bounceIn 1s ease-in-out;
}

.button-contact {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin: 10px auto 0 auto;
    border: 2px solid #33d568;
    position: relative;
    top: -70px;
    transition: background-color 0.3s, color 0.3s;
}


.button-contact a {
    color: #33d568;
    text-decoration: none;
}

.button-contact:hover {
    background-color: #33d568;
    color: #fff;
}

.button-contact:hover a {
    color: #fff;
}

.button-contact:active {
    background-color: #A9A9A9;
    color: #808080;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
    .hero {
        font-size: 10px;
        height: 100vh;
    }

    h2 {
        margin-top: 550px;
        display: flex;
        justify-content: center;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 48px;
        color: white;
        cursor: pointer;
        z-index: 9999;
    }

    .nav-container {
        display: none;
        position: relative;
        top: 120px;
        right: 27px;
        background: transparent;
        padding: 10px;
        list-style-type: none;
        width: 100%;
        transition: right 0.3s ease;
    }

    .nav-container.active {
        display: block;
    }

    .nav-container li {
        text-align: right;
        padding-right: 10px;
    }

    .nav-container li a {
        margin-top: -50px;
        display: block;
        padding: 0;
        color: white;
        text-decoration: none;
        font-size: 30px;
    }

    .hero {
        height: 100vh;
    }

    .sub-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        margin-top: -40vh !important;
        padding: 80px;
    }

    .information {
        width: 100%;
        margin-top: 400px;
    }

    .headshot-container {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    .headshot {
        width: 400px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }

    .button-contact {
        transform: translateY(-100%);
    }
}

.logo {
    height: 80px;
    margin: 30px;
    border-radius: 100px;
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 999;
    animation: fadeIn 1s ease-in-out;
}

/* Keyframes for Animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes bounceIn {
    0% { transform: scale(0.8); opacity: 0; }
    60% { transform: scale(1.05); opacity: 1; }
    100% { transform: scale(1); }
}
