.hero-project {
  background-color: #291C3A;
  min-height: 97vh;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 69.6vh;
}

h1 {
  display: flex;
  justify-content: center;
  color: #33d568;
  margin-top: 150px;
}

.project-card {
  position: relative;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 300px;
  height: 600px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-15px);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* 
.project-details {
  margin-top: auto;
} */

.project-details h3 {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 35px;
  color: black;
  display: flex;
  justify-content: center;
}

.project-details {
  position: absolute; /* Add this line */
  bottom: 0; /* Add this line */
  left: 0; /* Add this line */
  width: 100%; /* Add this line */
  padding-bottom: 30px; /* Adjust as needed */
}

.project-link-card {
  position: absolute; /* Add this line */
  font-size: medium;
  bottom: 10px; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%); /* Adjust as needed */
  color: #33d568;
}

.subtext {
  font-size: 0.35em;
  color: #666666;
  line-height: 1.4;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* 
.project-link-card {
  color: #33d568;
  display: flex;
  justify-content: center;
  margin-top: auto;
} */

.project-link:hover {
  text-decoration: underline;
}

.coming-soon {
  opacity: 0.5;
}

hr {
  margin-top: auto;
  margin-bottom: 0;
}

.contact-me{
  background-color: #291C3A; 
  color: white; 
  text-align: center; 
  padding: 24px;
}

@media screen and (max-width: 1000px) {
  .project-card {
    position: relative;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 500px;
    height: 750px;
    transition: transform 0.3s ease;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 48px;
    color: white;
    cursor: pointer;
    z-index: 9999; /* Ensure the hamburger button is above other elements */
  }

  .nav-container {
      display: none; /* Hide the navigation list by default */
      position: relative;
      top: 120px; /* Adjust as needed */
      right: 27px;
      background-color: #291C3A;
      padding: 10px;
      list-style-type: none;
      width: 100%; /* Set the width to 100% */
      transition: right 0.3s ease;
      
  }

  .nav-container.active {
      display: block; /* Show the navigation list when active */
  }

.nav-container li {
      text-align: right; /* Center the navigation items */
      padding-right: 10px;
  }

  .nav-container li a {
      margin-top:-50px;
      display: block;
      padding: 0;
    color: white;
    text-decoration: none;
    font-size: 30px; /* Adjust as needed */
  }

  .nav-button{
      /* display: block;
      position: absolute;
      margin-top: -8px;
      right: -19px;
      background: none;
      border: none;
      font-size: 24px;
      color: white;
      cursor: pointer;
      z-index: 9999; */
      display: none;
  }
  .project-container {
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    overflow-y: auto; /* Ensure vertical scrolling */
  }
  .logo {
    height: 80px;
    margin: 30px;
    border-radius: 100px;
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 999;
}
}
