body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 500;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active{
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
    border-radius: 100px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.information {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}

.headshot-container {
    width: calc(50% - 20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.column {
    margin-bottom: 20px;
}

.headshot {
    margin-top: 70px;
    width: 100%;
    max-width: 300px;
    border-radius: 20%;
    padding: 10px;
}


.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-card {
    width: 250px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

 .project-image {
    width: 200px;
    border-radius: 100px;
    margin-top: 25px;
 }

 hr {
    margin-left: 20px;
    margin-right: 20px;
 }

 .project-link {
    text-decoration: none;
    color:#ef744b;
 }

 a{
    text-decoration: none;
    color: white;
 }

 .hamburger{
    display: none;
 }

 .hamburger:focus {
    outline: 0;
 }
 
 @media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    .nav-list {
        display: none;
        background-color: #2b2c38;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .nav-list.show {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}


 .bio {
    font-size: 20px;
 }

 /* .skills-section software-skills {
    display: flex;
    justify-content: space-between;
    padding: 80px;
 }

 .skills-list {
    width: 500px;
    font-size: 30px;
}

.skills-list li {
    text-decoration: none;
    margin-bottom: 10px;
} */


